<div id="StateContainer" class="col-md-6 col-md-offset-3 container-fluid">
    <div id="appMain">
        <a ui-sref="main">
            <p>Back</p>
        </a>
        <h2>Register Here</h2>
        <div class="input-group">
            <label for="">Display Name (no spaces)</label>
            <div class="input-group">
                <span id="atSymbolRegister" class="input-group-addon"><div>@</div></span>
                <input type="text" class="form-control" ng-model="register.registration.displayName">
            </div>
        </div>
        <div class="input-group">
            <label for="">First Name</label>
            <input type="text" class="form-control" ng-model="register.registration.firstName">
        </div>
        <div class="input-group">
            <label for="">Last Name</label>
            <input type="text" class="form-control" ng-model="register.registration.lastName">
        </div>
        <div class="input-group">
            <label for="">Email Address</label>
            <input type="email" class="form-control" ng-model="register.registration.emailAddress">
        </div>
        <div class="input-group">
            <label for="">Password</label>
            <input type="password" class="form-control" ng-model="register.registration.password">
        </div>
        <div class="input-group">
            <label for="">Confirm Password</label>
            <input type="password" class="form-control" ng-model="register.registration.confirmPassword">
        </div>
        <div>
            <button class="btn btn-default" ng-click="register.register()">Register</button>
        </div>
    </div>
</div>
