<!--Container holding all elements of this state-->
<div id="StateContainer" class="col-xs-12">
    <!--Panel holding the input elements and results-->
    <h2>Change Calculator</h2>
    <div id="appMain">
        <!--This project was originally done in jquery, the id's are there for that reason-->
            <h5>How much is due for the sale?</h5>
            <input class="form-control" ng-model="vm.total"></input>
            <h5>How much has the customer given you?</h5>
            <input class="form-control" ng-model="vm.money"></input>
            <br>
            <button class="btn btn-default" ng-click="vm.Calculate()">Calculate</button>
        <div ng-show="vm.show" class="container-fluid">
            <div id="dollarTag">
                <h3 id="dollars">Dollars</h3>
                <p id="output">{{vm.dollars}}</p>
            </div>
            <div id="changeTags">
                <div class="col-md-3">
                    <h3>Quarters</h3>
                    <p>{{vm.quarters}}</p>
                </div>
                <div class="col-md-3">
                    <h3>Dimes</h3>
                    <p>{{vm.dimes}}</p>
                </div>
                <div class="col-md-3">
                    <h3>Nickels</h3>
                    <p>{{vm.nickels}}</p>
                </div>
                <div class="col-md-3">
                    <h3>Pennies</h3>
                    <p>{{vm.pennies}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
