<!--Container holding all elements of this state-->
<div id="StateContainer" class="col-md-6 col-md-offset-3 container-fluid">
    
    <!--Panel holding the input form and results -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Astro Weight Calculator</h2>
        </div>
        <div class="panel-body">
            <h4>Enter your weight and select a planet</h4>
            <div class="input-group">
                <input ng-model="vm.inputWeight" type="text" class="form-control">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Planet <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="planet in vm.Planets"><a ng-click="vm.calculate(planet)">{{planet.Name}}</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <br>
                <p ng-show="vm.showResults">You would weigh {{ vm.PlanetWeight }} pounds on {{ vm.Planet.Name}}.</p>
                <br>
                <img src=../app/images/{{vm.Planet.Image}}>
            </div>
        </div>
    </div>
</div>
