<div id="chirperHome" class="row">
    <div id="leftDiv" class="col-xs-3 container">
        <div id="nameTagPanel" class="panel panel-default">
            <div id="nameTagHeading" class="panel-heading">
            </div>
            <div class="panel-body">
                <div id="nameTag">
                    <h5><b>{{vm.firstName}} {{vm.lastName}}</b></h5>
                    <p>@{{vm.name}}</p>
                </div>
                <div>
                    <table>
                        <tr class="row">
                            <td class="col col-xs-4">CHIRPS</td>
                            <td class="col col-xs-4">FOLLOWING</td>
                            <td class="col col-xs-4">FOLLOWERS</td>
                        </tr>
                        <tr class="row">
                            <td class="col col-xs-4">{{vm.Chirps.length}}</td>
                            <td class="col col-xs-4">0</td>
                            <td class="col col-xs-4">0</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <h2><p><span class="glyphicon glyphicon-camera"></span></p></h2>
    </div>
    <div id="middleDiv" class="col-xs-6 container">
        <div id="dieMargin" class="panel panel-default">
            <div class="panel-heading">
                <div class="input-group">
                    <input ng-model="vm.Post.Text" type="text" class="form-control" placeholder="New Post">
                    <span class="input-group-btn"><button ng-click="vm.addChirp()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
            <!--Panel holding the toDo List, addnew button and orderBy buttons-->
            <div class="panel-body">
                <nav>
                    <ul ng-repeat="chirp in vm.Chirps" class="list-group">
                        <li ng-mouseenter="vm.hovering=true" ng-mouseleave="vm.hovering=false" class="list-group-item">
                            <h5 id="atName">
                            <b>{{chirp.FirstName}} {{chirp.LastName}}</b> @{{chirp.DisplayName}} | {{chirp.CreatedDate}}<small id="postDate" ng-show="vm.hovering">{{chirp.CreatedTime}} <button ng-click="vm.deleteChirp(chirp.PostId)">X</button></small></h5>
                            <h5>{{chirp.Text}}</h5>
                            <hr>
                            <div ng-show="vm.hovering">
                                <h6 ng-mouseenter="vm.hovering1=true" ng-mouseleave="vm.hovering1=false" ng-repeat="comment in chirp.User.Comments">
                                <b id="comment">@{{comment.DisplayName}}</b> {{comment.Text}}
                                <small ng-show="vm.hovering1" id="commentTime">{{comment.CreatedDate}}  {{comment.CreatedTime}} <button ng-click="vm.deleteComment(comment.CommentID)">X</button></small>
                            </h6>
                                <div id="newComment" class="input-group">
                                    <input ng-model="vm.Comment.Text" type="text" class="form-control" placeholder="Comment">
                                    <span class="input-group-btn"><button ng-click="vm.addComment(chirp.PostId)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div id="rightDiv" class="col-xs-3 container">
        <div ng-if="bool" class="fade">
            Fade me in out
        </div>
        <button ng-click="bool=true">Fade In!</button>
        <button ng-click="bool=false">Fade Out!</button>
    </div>
</div>
