body {
    margin: 2%;
}

button {
    width: 100%;
    margin: 2%;
}

#calcList {
    margin-top: 2%;
}

#ex1Slider .slider-selection {
    background: #BABABA;
}

#sliderContainer {
    margin-top: 2%;
    margin-bottom: 2%;
}
