#educationList {
    list-style: none;
    text-align: left;
}

#experienceList {
    list-style: none;
    text-align: left;
}

#examplesList {
    list-style: none;
    text-align: left;
}

#opinionColumn {
    text-align: left;
}

#nameColumn {
    border-right: 2px solid black;
}

#examplesColumn {
    border-right: 2px solid black;
}
