<div ui-view></div>
<!--input box and btn-->
<div ng-hide="vm.hide" id="StateContainer" class="col-xs-8 col-xs-offset-2 container-fluid">
    <h2>Movie Finder</h2>
    <div id="appMain">
        <div class="container-fluid">
            <div class="col-md-12" id="inputSize">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="vm.movie" placeholder="Search for any movie or part of a movie title">
                    <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" ng-click="vm.newMovies()">Go!</button>
              </span>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="container-fluid">
            <div ng-repeat="movie in vm.movies.Search" class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{movie.Title}}</h3>
                    </div>
                    <div class="panel-body text-center">
                        <img height=200 width=131 src="{{movie.Poster}}">
                        <p>Filmed in {{movie.Year}}</p>
                        <a ui-sref="main.state7.list({movieName:'{{movie.Title}}'})">View details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
